/*
==========================================================================
Main structure
========================================================================== 
*/
body {
    background-color: #E75113;
    margin: 0rem; /* 1 rem = 10px */
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 0px;
    padding-top: 3rem;
    
}

.navbar {
  margin-bottom: 20px;
}

.card {
    border-color: #FABB00; 
    border-width: 5px;
    background: #F08A00;
}

.card:hover  {
    border-color:#7BC6BC;
    cursor: pointer; cursor: hand;
}


.navbar-inverse .navbar-nav .nav-link {
    color:#000000 !important;
    font-size: 3em !important;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
/*    border-color:#7BC6BC; */
}

.navbar-inverse .navbar-nav .nav-link:hover {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 5px 5px 5px #7BC6BC;
    position: relative;
}


.navbar-inverse .navbar-nav .nav-link.startfocus {
    color:#FABB00 !important;
}

footer{
    position: absolute;
    background-image: url(../images/Footer_Background.png) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 50%;
    background-color: #FABB00;
}



.primary-footer {
    background-color: #7BC6BC;
    border-radius: .25rem;
    box-shadow: 10px 10px 5px #f08a00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

  background-color: #FABB00;
  border-color: #FABB00;
 }

.btn
{
  background-color: #7BC6BC;
  border-color: #FABB00;
    border-width: 1px;
}
